.nav-link{
    color: white;
}

.titulo{
    color: #EE7E60;
    padding: 1%;
}

span#plus{
    float:right;
    padding: 1%;
    
}

p#adicionar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float:right;
    padding: 2%;
}