{% extends 'compras/base.html' %}

{% block content %}



<h3 class = "titulo">Lista de compras</h3>
<a href="{% url 'nova_compra' %}"><span  id="plus" class="fa fa-plus-circle"><p id="adicionar">Adicionar</p></span></a>

<div class="table-responsive">
 
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Descrição</th>
          <th scope="col">Data de compra</th>
          <th scope="col">Rastreio</th>
          <th scope="col">Tipo de Frete</th>
          <th scope="col">Tempo de envio</th>
          <th scope="col">R$ Total</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for compra in compras %}
          <tr>
            <th scope="row">{{compra.id_compra}}</th>
            <td><a href="{% url 'compra_detalhes' pk=compra.pk %}">{{compra}}</a></td>
            <td>{{compra.data_compra}}</td>
            <td>{{compra.codigo_rastreio}}</td>
            <td>{{compra.codigo_rastreio}}</td>
            <td>{{compra.tempo_envio}}</td>
            <td>{{compra.total_compra}}</td>
            <td><a class="btn btn-default" href="{% url 'compra_detalhes' pk=compra.pk %}"><span class="fa fa-bars"></span></a>
              <a class="btn btn-default" href="{% url 'editar_compra' pk=compra.pk %}"><span class="fa fa-edit"></span></a>
              <a class="btn btn-default" href="{% url 'remover_compra' pk=compra.pk %}" onclick="return confirm('Deseja remover?')"><span class="fa fa-times-circle"></span></a>
              <a class="btn btn-default" href="#"><span class="fa fa-cube"></span></a>
            </td>
        {% endfor %}
        </tr>
      </tbody>
    </table>

</div>

{% endblock %}