{% extends 'compras/base.html' %}

{% block content %}

<h3 class = "titulo">Lista de compras</h3>
<div class="table-responsive">
 
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Descrição</th>
          <th scope="col">Data de compra</th>
          <th scope="col">Rastreio</th>
          <th scope="col">Tipo de Frete</th>
          <th scope="col">Tempo de envio</th>
          <th scope="col">R$ Total</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for purchase in purchases %}
          <tr>
            <th scope="row">{{purchase.purchase_id}}</th>
            <td>{{purchase}}</td>
            <td>{{purchase.purchase_date}}</td>
            <td>{{purchase.tracking_code}}</td>
            <td>{{purchase.tracking_mode}}</td>
            <td>{{purchase.shippng_time}}</td>
            <td>{{purchase.purchase_amount}}</td>
            <td>Ação</td>
        {% endfor %}
        </tr>
      </tbody>
    </table>

</div>

{% endblock %}